<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title><%= title %> — WORLD APP</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="../../public/css/style.css">
<link rel="apple-touch-icon" sizes="57x57" href="../../public/images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="../../public/images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="../../public/images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="../../public/images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../../public/images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../../public/images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../../public/images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../../public/images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../../public/images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="../../public/images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../public/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../../public/images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../public/images/favicon/favicon-16x16.png">
<link rel="manifest" href="../../public/images/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="../../public/images/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="../../public/css/bootstrap.min.css">
</head>
<body>

<div class="container">
<% data.forEach(function(data) { %>
<div class="category_layout">
	<div class="item_caregory blue"><h2><a href="#" class="deco-none"><%= data.name %></a></h2></div>
<div class="row">
		<div class="col-md-7">
		<div class="item active feature_news_item">
			<div class="item_wrapper">
				<div class="item_img">
					<img class="img-responsive" src="<%= data.flag %>" alt="<%= data.name %>">
				</div><!--item_img-->  
			</div><!--item_wrapper-->	
		</div><!--feature_news_item-->
		</div><!--col-md-7-->
		
		<div class="col-md-5">
		<div class="media_wrapper">
			<div class="media">
				<div class="media-left">
					<img class="media-object" style="width:80px" src="../../public/images/city.png" alt="<%= data.name %>">
				</div><!--media-left-->
				<div class="media-body">
					<h3 class="media-heading">Capital City</h3>
					<p><a href="http://en.wikipedia.org/wiki/<%= data.capital %>" target="_blank" class="deco-none"><%= data.capital %></a></p>
				</div><!--media-body-->
			</div><!--media-->

			<div class="media">
				<div class="media-left">
					<img class="media-object" style="width:80px" src="../../public/images/language.png" alt="<%= data.name %>">
				</div><!--media-left-->
				<div class="media-body">
					<h3 class="media-heading">Official languages</h3>
					<% data.languages.forEach(function(languages) { %>
						<li><a href="http://en.wikipedia.org/wiki/<%= languages.name %>" target="_blank" class="deco-none"><%= languages.name %></a></li>
					<% }); %>
				</div><!--media-body-->
			</div><!--media-->

			<div class="media">
				<div class="media-left">
					<img class="media-object" style="width:80px" src="../../public/images/Hatching.png" alt="<%= data.name %>">				</div><!--media-left-->
				<div class="media-body">
					<h3 class="media-heading">Area & Population</h3>
					<li><%= data.area.toLocaleString() %> km<sup>2</sup></li>
					<li><%= data.population.toLocaleString() %></li>
				</div><!--media-body-->
			</div><!--media-->

			<div class="media">
				<div class="media-left">
					<img class="media-object" style="width:80px" src="../../public/images/telephone.png" alt="<%= data.name %>">
				</div><!--media-left-->
				<div class="media-body">
					<h3 class="media-heading">CallingCodes</h3>

					<p>+<%= data.callingCodes %></p>

				</div><!--media-body-->
			</div><!--media-->

			<div class="media">
				<div class="media-left">
					<img class="media-object" style="width:80px" src="../../public/images/clock.png" alt="<%= data.name %>">
				</div><!--media-left-->
				<div class="media-body">
					<h3 class="media-heading">Timezones</h3>

					<p><%= data.timezones %></p>

				</div><!--media-body-->
			</div><!--media-->

			<div class="media">
				<div class="media-left">
					<img class="media-object" style="width:80px" src="../../public/images/currency.png" alt="<%= data.name %>">
				</div><!--media-left-->
				<div class="media-body">
					<h3 class="media-heading">Currencies</h3>

					<% data.currencies.forEach(function(currencies) { %>
						<li><a href="http://en.wikipedia.org/wiki/<%= currencies.name %>" target="_blank" class="deco-none"><%= currencies.name %> (<%= currencies.symbol %>)</a></li>
					<% }); %>

				</div><!--media-body-->
			</div><!--media-->

			<div class="media">
				<div class="media-left">
					<img class="media-object" style="width:80px" src="../../public/images/borders.png" alt="<%= data.name %>">
				</div><!--media-left-->
				<div class="media-body">
					<h3 class="media-heading">Borders</h3>

					<% data.borders.forEach(function(borders) { %>
						<li><a href="/country/<%= borders %>" class="deco-none"><%= borders %></a></li>
					<% }); %>

				</div><!--media-body-->
			</div><!--media-->
		</div><!--media_wrapper-->
		</div><!--col-md-5-->
	</div><!--row-->
</div>
<% }); %>
</div>

<script src="../../public/js/jquery.min.js"></script>
<script src="../../public/js/bootstrap.min.js"></script>

</body>
</html>